/*
Kaduseon's tunawithbacon.com Tool
Version 03-202001241545
*/

body {
    font-family: 'Times New Roman', serif;
    background-color: #deefff;
}

/*----------------------------------------------------------------------------*/

.grid-common {
    display: grid;
    margin: auto;

    min-width: 600px;
    max-width: 800px;
}

/*----------------------------------------------------------------------------*/

#header-block {
    padding: 10px;
}

/*----------------------------------------------------------------------------*/

#footer-block {
    padding: 10px;
}

/*----------------------------------------------------------------------------*/

#settings-block {
    min-width: 600px;
    background-color: #f7f7f7;

    border: 1px solid black;
}

.settings-grid-entry {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 67% 33%;

    padding: 20px;
}

/*----------------------------------------------------------------------------*/

.create-match-entry-block {
    min-width: 600px;
    max-width: 600px;
    background-color: #f7f7f7;
    border: 1px solid black;
}

.create-match-entry-block > div {
    padding: 20px;
    text-align: center;
}


/*----------------------------------------------------------------------------*/

#match-grid-main {
    min-width: 600px;
    max-width: 600px;
    background-color: #f7f7f7;
}

.match-grid-entry {
    display: grid;
    padding: 20px;
    grid-template-columns: 33% 67%;
    grid-column-gap: 10px;
    border: 1px solid black;
}

.match-grid-entry > div {
    margin-top: 2px;
    margin-bottom: 2px;
}

.match-grid-entry-fieldkey {
    text-align: right;
}

.match-grid-entry-fieldvalue {
    text-align: left;
}

.match-grid-entry-fieldvalue > input {
    height: 1.5em;
}

/*----------------------------------------------------------------------------*/

.file-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #fcfcfc;

    min-width: 600px;
    max-width: 600px;
    margin: auto;

    border: 1px solid black;
}

.file-grid > div {
    margin: 30px;
}